<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>情報学科履修一覧（専門科目）</title>
  </head>
  <header>
    <h1>情報学科専門科目講義一覧</h1>
  </header>
  <body>
    <%= link_to '戻る', "/" %>
    <table border="1">
    <tr>
      <th>　科目名　</th>
      <th>　開講年次　</th>
      <th>　シラバス　</th>
      <th>　コメント評価を登録</th>
    </tr>
    <% @management.each do |e| %>
    <tr>
      <td><%= e.subject %></td>
      <td><%= e.annual %></td>
      <td><%= link_to 'シラバス', e.link %></td>
      <td><%= link_to '評価登録', new_valuation_path %></td>
    </tr>
    <% end %>
  </table>
  </body>
</html>

<style>
*{
font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO","ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
ul{
list-style: none;
background-color: #00bfff;
text-align: center;
}
li{
display: inline;
}
ul li a{
color: white;
text-decoration: none;
padding: 0px 30px;
}

</style>