<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>情報学科履修一覧（専門科目）</title>
  </head>
  <header>
    <h1>情報学科専門科目講義一覧</h1><br>
  </header>
  <body>
    <%= form_tag({controller:"valuation",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "検索" ,:message => nil ,class: "button is-info" %>
    <button><%= link_to "全表示", valuation_indexView_path %></button>
    <% end %>
    <br>
    <table border="1">
    <tr>
      <th>　科目名　</th>
      <th>　開講年次　</th>
      <th>　シラバス　</th>
      <th>　コメント評価を見る　</th>
    </tr>
    <% @management.each do |e| %>
    <tr>
      <td><%= e.subject %></td>
      <td><%= e.annual %></td>
      <td><%= link_to 'シラバス', e.link, target: :_blank %></td>
      <td><%= link_to '評価閲覧', valuationviews_show_path(id: e.id) %></td>
    </tr>
    <% end %>
  </table><br>
  <button><%= link_to '戻る', "/" %></button>
  </body>
</html>
