<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>
<div class="title">
  <b><%= @management.subject %></b>


  <b id = "avg">平均値：<%= Valuation.where(subject: params[:id]).average(:star).round(1) %>点<br></b>
</div>




<div class = "button">
  <button><%= link_to '一覧へ戻る', valuation_indexView_path %></button>
</div>

  <% @valuation.each do |e| %>
  <div class = "main">
    <p>
    <b>コメント</b>：<%= e.comment %><br>
    <b>評価</b>：<%= e.star.to_i %>点<br>
    <b>投稿日時</b>：<%= e.tdate.strftime('%Y/%m/%d %H:%M:%S') %>
    </p>
  </div>
<% end %>
<style>
.title{
  font-size:24pt;
  margin-left:10px;
}
.title #avg{
  font-size:20pt;
  padding-left:25px;
}
.main{
  border:solid 3px #1b9bff;
  border-radius: 10px;/*角の丸み*/
  padding:10px 20px;
  margin-top:20px;
  margin-right:60px;
  margin-left:60px;
}
.button{
  margin-left:60px;
}
</style>