<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>

<% @valuation.each do |e| %>
    <p>
    コメント：<%= e.comment %>
    評価：<%= e.star.to_i %>
    時刻：<%= e.tdate.strftime('%Y/%m/%d %H:%M:%S') %>
    
    </p>
<% end %>

平均値：<%= Valuation.where(subject: params[:id]).average(:star).round(1) %><br>

<%= link_to '戻る', "/" %>
<style>
</style>