<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>

<% @valuation.each do |e| %>
    <p>
    <b>コメント</b>：<%= e.comment %>
    <b>評価</b>：<%= e.star.to_i %>点
    <b>投稿日時</b>：<%= e.tdate.strftime('%Y/%m/%d %H:%M:%S') %>
    
    </p>
<% end %>

<b>平均値：<%= Valuation.where(subject: params[:id]).average(:star).round(1) %><br></b>

<%= link_to '戻る', valuation_indexView_path %>
<style>
</style>