<html>
<header>
  <nav>
    <ul>
    <li class="current"><%= link_to 'ホーム', root_path %></li>
    <li><% if current_user %>
          <%= link_to 'ログアウト', top_logout_path %>
        <% else %>
          <%= link_to 'ログイン', top_main_path %>
        <% end %></li>
    <li><% if current_user %>
          <%= current_user.student_num.to_s + "さん" %>
        <% else %>
          ゲストさん
        <% end %></li>
    </ul>
  </nav>
</header>
  <body>
    <div class="main">
      <h1>管理者画面</h1>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <h2>科目登録</h2>
      <button><%= link_to '新規科目の追加', management_new_path %></button>
      <button><%= link_to '戻る', root_path %></button>
      <table border="1">
          <tr>
            <th>　科目名　</th>
            <th>　開講年次　</th>
            <th>　シラバス　</th>
            <th>　データの削除　</th>
          </tr>
          <% @management.each do |e| %>
          <tr>
            <td><%= e.subject %></td>
            <td><%= e.annual %></td>
            <td><%= link_to 'シラバス', e.link, target: :_blank %></td>
            <td><%= link_to '削除', management_path(e), method: :delete %></td>
          </tr>
          <% end %>
      </table><br>
      <h2>ユーザ管理一覧</h2>
      <button><%= link_to '新規ユーザの追加', new_user_path %></button>
      <button><%= link_to '戻る', root_path %></button>
      <table border="1">
        <tr>
          <th>　学籍番号　</th>
          <th>　パスワード　</th>
          <th>　ユーザの削除　</th>
        </tr>
      <% @user.each do |e| %>
          <tr>
            <td><%= e.student_num %></td>
            <td><%= e.pass %></td>
            <td><%= link_to '削除', user_path(e), method: :delete %></td>
          </p>
      <% end %>
      </table>
    </div>
  </body>
</html>
<style>
nav{
border-bottom: 1px solid #000000;
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
border-right: 1px solid #000000;
}
nav ul li:first-child{
border-left: 1px solid #000000;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #000000;
}
nav ul li a:hover{
background-color:#1b9bff;
border-bottom: 5px solid #1b9bff;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #1b9bff;
color: #1b9bff;
}
nav ul li.current a:hover{
border-bottom: 5px solid #ffffff;
color: #ffffff;
}
button{
  margin-bottom:10px;
}
.main{
  margin-left:30px;
}
</style>