<h1>新規科目の追加</h1>
<%= form_for @management, url: {action: :create} do |f| %>
  <p><%= f.label :subject, '科目名：' %>
  <%= f.text_field :subject %></p>
  <p><%= f.label :annual, '開講年次' %> 
  <%= f.text_field :annual %></p>
  <p><%= f.label :link, 'シラバスリンク' %> 
  <%= f.text_field :link %></p>
  </div>
  <%= f.submit '登録' %>
<% end %>