<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<header>
  <% @user.each do |e| %>
    <p>
      <%= e.student_num %>
      <%= e.pass %>
      <%= link_to '削除', user_path(e), method: :delete %>
    </p>
  <% end %>
  <nav>
    <div class = "nav_left">
      <%= link_to '新規ユーザ追加', new_user_path %>
    </div>
    <div class = "nav_right"><% if current_user %>
      <%= link_to 'ログアウト', top_logout_path %>
    <% else %>
      <%= link_to 'ログイン', top_main_path %>
    <% end %></div>
  </nav>
</header>
<div class = "main">
  <div class = content1>
    <% if current_user %>
      <strong><%= link_to '科目情報閲覧の方はこちら', valuation_indexView_path %></strong>
    <% else %>
      <strong><%= link_to '科目情報閲覧の方はこちら', top_main_path %></strong>
    <% end %>
  </div>
  <div class = content2>
    <% if current_user %>
      <strong><%= link_to '科目情報登録の方はこちら', valuation_index_path %></strong>
     <% else %>
      <strong><%= link_to '科目情報登録の方はこちら', top_main_path %></strong>
    <% end %>
  </div>
</div>
<footer>
  <%= link_to '管理画面へ',management_index_path %>
</footer>

<style>
nav{
  width : 100vw;
  text-align: center;
  background: #1b9bff;
  height: 70px;
  vertical-align: middle;
  color:white;
}
nav :visited{
  color:white;
}
.nav_left{
  float: left;
}
.nav_right{
  float: right;
}
.content1,.content2{
 width : 100vw;
 height: 100px;
 color:white;
 
}
.content1 strong{
  background-color:#1b9bff;
  padding:20px 20px;
  border-radius: 15px;
}
.content2 strong{
  background-color:#1b9bff;
  padding:20px 20px;
  border-radius: 15px;
}
.main{
 display: flex;
 width : 100vw;
 padding-top: 150px;
 text-align: center;
}
.main :visited{
  color :white;
}
</style>