<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% @user.each do |e| %>
  <p>
    <%= e.student_num %>
    <%= e.pass %>
    <%= link_to '削除', user_path(e), method: :delete %>
    </p>
<% end %>

<p>
  <%= link_to '新規ユーザ追加', new_user_path %>
</p>
<p>
  <% if current_user %>
    <%= link_to 'ログアウト', top_logout_path %>
  <% else %>
    <%= link_to 'ログイン', top_main_path %>
  <% end %>
</p>


<div class = "main">
  <div class = content1>
    <strong><%= link_to '科目情報閲覧の方はこちら', '/' %></strong>
  </div>
  <div class = content2>
    <strong><%= link_to '科目情報登録の方はこちら', '/' %></strong>
  </div>
</div>


<style>
.content1,.content2{
 width: 50%;
 height: 100px;
 
}
.content1 strong{
  background-color:#38b6ff;
  padding:20px 20px;
  border-radius: 15px;
}
.content2 strong{
  background-color:#38b6ff;
  padding:20px 20px;
  border-radius: 15px;
}
.main{
 display: flex;
 width:1100px;
}
</style>