<header>
  <nav>
    <ul>
    <li class="current"><%= link_to 'ホーム', root_path %></li>
    <li><%= link_to '新規ユーザ追加', new_user_path %></li>
    <li><% if current_user %>
          <%= link_to 'ログアウト', top_logout_path %>
        <% else %>
          <%= link_to 'ログイン', top_main_path %>
        <% end %></li>
    <li><% if current_user %>
          <%= current_user.student_num.to_s + "さん" %>
        <% else %>
          ゲストさん
        <% end %></li>
    </ul>
  </nav>
</header>
<%= link_to '管理画面へ',management_index_path %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<div class = "main">
  <div class = content1>
    <% if current_user %>
      <strong><%= link_to '科目情報の閲覧', valuation_indexView_path %></strong>
    <% else %>
      <strong><%= link_to '科目情報の閲覧', top_main_path %></strong>
    <% end %>
  </div>
  <div class = content2>
    <% if current_user %>
      <strong><%= link_to '科目情報の登録', valuation_index_path %></strong>
     <% else %>
      <strong><%= link_to '科目情報の登録', top_main_path %></strong>
    <% end %>
  </div>
</div>
<style>
nav{
border-bottom: 1px solid #000000;
}
nav ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
border-right: 1px solid #000000;
}
nav ul li:first-child{
border-left: 1px solid #000000;
}
nav ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #000000;
color: inherit;
}
nav ul li a:hover{
background-color:#1b9bff;
border-bottom: 5px solid #1b9bff;
color: inherit;
}
nav ul li.current{
font-weight: bold;
}
nav ul li.current a{
border-bottom: 5px solid #1b9bff;
color: #1b9bff;
}
nav ul li.current a:hover{
border-bottom: 5px solid #ffffff;
color: #ffffff;
}

.content1,.content2{
width: 300px;
height: 300px;
border-radius: 50%;
background-color:#1b9bff;
text-align:center;
line-height: 300px;
margin: auto 200px;
font-size:24pt;
}

.main{
 display: flex;
 width : 100vw;
 padding-top: 150px;
 text-align: center;
}
.main :visited{
  color :white;
}

</style>