<div class = "form_block">
<h1>新規登録</h1>
<%= form_for @user, url: {action: :create} do |f| %>
  <%= f.label :student_num, '学籍番号'%> 
  <%= f.text_field :student_num %><br>
  <%= f.label :password, 'パスワード' %> 
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation, 'パスワード（確認）' %> 
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit '登録' %>
<% end %>
</div>
