<!DOCTYPE html>
<html>
  <head>
    <title>StudentCourse</title>
    <%= favicon_link_tag 'icon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <%= yield %>
    
  </body>
  <footer>
    <div class="container">
      <div class="box">
          <p>
            <% if current_user %>
              ログイン中（<%= current_user.student_num %>さん）<br>
            <% else %>
              ログインしていません
            <% end %>
          </p>
          <p>&copy; Kanbara&Ogita</p>
          <p><% if current_user %>
              <%= link_to image_tag("setting.png", class: 'setting_img'), management_index_path %>
            <% else %>
              <%= link_to image_tag("setting.png", class: 'setting_img'), '/' %>
            <% end %></p>
      </div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"><path id="wave" d=""/></svg>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.wavify.js"></script>
  </footer>
</html>

<style>
*{
text-decoration: none;
}

svg {
  height: 25vw;
  width: 100vw;
  position: absolute;
  top: 1000px;
  left: 0;
}
.container {
  margin-top:200px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  text-align: center;
  text-align: center;
  z-index: 1;
}
.setting_img{
  width:30px;
}
</style>
<script>
$('#wave').wavify({
  height: 60,
  bones: 3,
  amplitude: 40,
  color: '#1b9bff',
  speed: .25
});
</script>